@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

:root {
  --orange-color: #f16429;
  --orange-dark-color: #f14129;
  --orange-light-color: #f18729;
  --green-color: #87b90a;
  --grey-color: hsla(0, 0%, 25%, 0.5);
  --grey-dark-color: #404040;
  --grey-light-color: #fafafa;
  --orange-gradient: linear-gradient(
    to right,
    #f18729,
    #f18128,
    #f17a28,
    #f17428,
    #f16d28,
    #f16828,
    #f16228,
    #f15c28,
    #f15628,
    #f14f28,
    #f14928,
    #f14129
  );
}

a {
  text-decoration: none;
}

body,
.np-body-bg {
  background-color: #fff;
}

#header {
  background: var(--grey-dark-color);
}

.np-body p,
.np-link,
.np-options a,
p a.np-link,
.np-checkbox-wrapp a,
.np-options li:not(:first-child):before {
  color: var(--grey-dark-color);
}

.np-filed,
.np-select:active,
.selectWrapper,
.np-select.active .np-input {
  border-radius: 2rem;
  background-color: white;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}

.np-select:after {
  border-color: var(--orange-color) transparent transparent transparent;
}

.np-select:before {
  border-color: transparent transparent var(--orange-color) transparent;
}

.np-select {
  color: var(--orange-color);
}

.np-button {
  background-color: hsl(18, 88%, 55%, 0.25);
  border: none !important;
  border-radius: 2rem;
  color: var(--orange-color);
  padding: 4px 24px;
  transition: all 0.25s;
}

.np-button:hover {
  background-color: var(--orange-color);
  color: white;
}

.selectOptions,
.ui-datepicker,
.np-select.active,
.np-input {
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.selectOptions li,
.ui-datepicker th,
.ui-datepicker-prev span,
.ui-datepicker-next span,
.ui-datepicker tbody td a {
  color: var(--grey-dark-color);
}

.selectOptions {
  width: fit-content;
}
.selectOptions li {
  border-bottom: none;
  padding: 4px 24px;
}

.selectOptions li:hover {
  color: var(--grey-dark-color);
  background: var(--grey-light-color);
}

.ui-datepicker-header,
.ui-datepicker-title {
  color: var(--orange-color);
}

.np-label-box {
  color: #fff;
  background: var(--orange-gradient);
}

.np-label-box .np-triangle {
  display: none;
}

.np-input-wrapp {
  border-bottom: 3px solid hsl(18, 88%, 55%, 0.25);
}

.np-checkbox-wrapp {
  color: var(--grey-color);
}

.np-checkbox-wrapp a {
  color: var(--orange-color);
}

.widget-link,
.widget-link:hover {
  color: var(--orange-color);
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}

label span.ng-scope {
  color: var(--grey-dark-color);
}

.ui-datepicker-unselectable span {
  color: var(--grey-color) !important;
}

.ui-datepicker-calendar .ui-state-active {
  background-color: var(--orange-color);
  color: white;
  border: none !important;
}

.ui-datepicker tbody td a {
  border-bottom: 2px solid var(--grey-dark-color) !important;
}

.ui-datepicker tbody td a:hover {
  border-bottom: 2px solid var(--orange-color) !important;
}

.ui-datepicker-today a {
  background-color: hsl(18, 88%, 55%, 0.25);
}

.ui-datepicker-today .ui-state-active {
  color: #fff;
}

.np-input-wrapp input {
  color: var(--grey-dark-color);
}

.np-body form .np-input.np-textarea {
  color: var(--grey-dark-color);
}
